{% extends './registerhead.html' %} {% block title %} P&R Tables{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
{% endblock %}
{% block body %}

    <body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-10 mb-4 mb-lg-0">
                    <div class="card mb-3 " style="border-radius: .5rem; height: 80vh">
                        <div class="card-header">
                            <h2 class="card-title">You have created {{ numberT }} Tables</h2>
                        </div>
                        <div class="card-body overflow-auto">
                            <div class="container">
                                <div class="row">
                                    {% if tables is defined %}
                                        {% for table in tables %}
                                            <div class="card border border-dark my-2 mx-0 mx-md-4 col-12 col-md-3">
                                                <div class="card-body border-dark fs-4 text-center">
                                                    {{ table["name"] }}<br>
                                                    <a href="#" class="btn btn-primary">Edit</a>
                                                    <a href="{{ url_for('tablesDelete', id=table["id"]) }}"
                                                       class="btn btn-danger">Delete</a>
                                                    <a href="#"
                                                       class="btn btn-success">PDF</a>
                                                </div>

                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-center">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#fastModal">Fast Table
                            </button>
                            <a href="{{ url_for('risksCreate') }}" class="btn btn-outline-primary mx-5 my-1">Custom
                                Table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>

    <div class="modal fade" id="fastModal" tabindex="-1" aria-labelledby="fastModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Fast Table</h5>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <input type="text" hidden name="type" value="fast">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" name="name" class="form-control" id="recipient-name">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}