{% extends './head.html' %} {% block title %} P&R Confirm {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block body %}
    <body class="bg-light">
    <section class="h-100 gradient-custom-2 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-6">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="card-body p-md-5 mx-md-4">
                                    {% if warning is defined %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong>{{ warning }}</strong> Check the data below.
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                    <div class="text-center">
                                        <img src="{{ url_for('static', filename='images/parLogo.png') }}"
                                             style="width: 50px;" alt="logo">
                                        <br>
                                        <img src="{{ url_for('static', filename='images/parN.png') }}"
                                             style="width: 120px ;" alt="logo">
                                    </div>

                                    <form method="post">
                                        <br>
                                        <p>If you have an account with us, we will send you a new password</p>

                                        <div class="form-floating mb-4">
                                            <input type="email" required id="email" class="form-control" name="email"/>
                                            <label for="email">Email</label>
                                        </div>
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                    type="submit">Send
                                            </button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    </body>
{% endblock %}