{% extends './registerhead.html' %} {% block title %} P&R Risks{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
{% endblock %}
{% block body %}

    <body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-10 mb-4 mb-lg-0">
                    <div class="card mb-3 " style="border-radius: .5rem; height: 80vh">
                        <div class="card-header">
                            <h2 class="card-title">You have created {{ numberR }} Risks</h2>
                        </div>
                        <div class="card-body overflow-auto">
                            <div class="container">
                                <div class="row">
                                    {% if risks is defined %}
                                        {% for risk in risks %}
                                            <div class="card border border-dark my-2 mx-0 mx-md-4 col-12 col-md-5">
                                                {% if risk["public"] == 1 %}
                                                    <div class="card-header border-dark fs-4">
                                                        <img src="{{ url_for('static', filename='icons/unlock-fill.svg') }}"
                                                             width="32"
                                                             height="32">
                                                        {{ risk["name"] }}
                                                    </div>
                                                {% else %}
                                                    <div class="card-header border-dark fs-4">
                                                        <img src="{{ url_for('static', filename='icons/lock-fill.svg') }}"
                                                             width="32"
                                                             height="32">
                                                        {{ risk["name"] }}
                                                    </div>
                                                {% endif %}
                                                <div class="card-body">
                                                    <h5 class="card-title">ID: {{ risk["id"] }}</h5>
                                                    <h5 class="card-title">CATEGORY: {{ risk["category"] }}</h5>
                                                    <p class="card-text">{{ risk["descript"] }}</p>

                                                </div>
                                                <div class="card-footer border-dark text-center">
                                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-center">
                            <a href="{{ url_for('risksCreate') }}" class="btn btn-outline-primary">Create New Risk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
{% endblock %}