<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Db check</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/LogoFull.ico') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
</head>
<body class="bg-light">
<h1> Probando la conexión a la base de datos</h1>
<h2> Estado de la conexión: {{ verdad }}</h2>
</body>
</html>